
<div class="card">
    <div class="card-header d-flex">
        <div class="col-lg-6 col-md-6"> <p class="negrita">Listado Carteras</p></div>
        <div class="col-lg-6 col-md-6 text-right">
            <button class="btn btn-info btn-sm negrita" (click)="registrarCartera()" >
                <i class="bi bi-plus-square"></i>
                Registrar Cartera
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3 row justify-content-end">
            <div class="col-lg-6 col-md-9 col-sm-12 d-flex">
                <label for="table-filtering-search" class="col-form-label mr-2">Buscar: </label>
                <input id="table-filtering-search" class="form-control mr-2" type="text" (ngModelChange)="buscar()" [formControl]="filter">
                <select class="form-control" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCobradores()">
                    <option [ngValue]="5">5 registros por pagina</option>
                    <option [ngValue]="10">10 registros por pagina</option>
                    <option [ngValue]="15">15 registros por pagina</option>
                </select>
            </div>
        </div>

        <div *ngIf="collectionTotal === 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt-4">
            <p *ngIf="cargando === true" class="text-info negrita">
                Cargando información...
            </p>
        </div>

        <div>
            <table class="table table-striped letraTablas">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Estado</th>
                        <th scope="col"># Prestamos Activos</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cobrador of cobradoresFinal; index as i">
                        <th scope="row">{{ cobrador.position }}</th>
                        <td>
                            {{ cobrador.nombre }}
                        </td>
                        <td> {{ cobrador.cedula }}</td>
                        <td>
                            {{ cobrador.celular }}
                        </td>
                        <td> {{ cobrador.estado }}</td>
                        <td> {{ cobrador.presamos_activos }}</td>
                        <td>
                            <button (click)="verInformacionCobrador(cobrador.id)" type="button" title="Ver Información Cliente" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCobradores()">
                </ngb-pagination>
            
                <p class="text-info negrita">Total Carteras: {{ collectionTotal }}</p>
            </div>
        </div>

        
    </div>
</div>

