<div class="card">
    <div class="card-header">
        <p class="negrita">Ruta Por Día</p>
    </div>
    <div class="card-body">
        <div class="mb-3 row justify-content-end">
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
                <label for="fecha-filtering" class="col-form-label mr-2 text-secondary negrita">Fecha: </label>
                <input id="fecha-filtering" class="form-control mr-2 " type="date" (ngModelChange)="buscarPorFecha()" [formControl]="filterFecha">
                <label for="table-filtering-search" class="col-form-label mr-2">Buscar: </label>
                <input id="table-filtering-search" class="form-control mr-2" type="text" (ngModelChange)="buscar()" [formControl]="filter">
                <select class="form-control" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCuotas()">
                    <option [ngValue]="5">5 registros por pagina</option>
                    <option [ngValue]="10">10 registros por pagina</option>
                    <option [ngValue]="15">15 registros por pagina</option>
                </select>    
            </div>
        </div>

        <div *ngIf="collectionTotal === 0  || cargando === true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt-4">
            <p *ngIf="cargando === false" class="text-info negrita">
                No se encontro ningún registro con la fecha seleccionada, ni en estado incumplido
            </p>
            <p *ngIf="cargando === true" class="text-info negrita">
                Cargando información...
            </p>
        </div>

        <div *ngIf="collectionTotal !== 0 && cargando === false">
            <table class="table table-striped letraTablas">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Cobrador</th>
                        <th scope="col">Valor Cuota</th>
                        <th scope="col">Valor Abonado</th>
                        <th scope="col">Fecha Pago</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuota of cuotasFinal; index as i">
                        <th scope="row">{{ cuota.position }}</th>
                        <td>{{ cuota.nombre }}</td>
                        <td>{{ cuota.cobrador }}</td>
                        <td>{{ formatPesos(cuota.valor_cuota) }}</td>
                        <td> {{ formatPesos(cuota.valor_abonado) }}</td>
                        <td>{{   getFecha(cuota.fecha, cuota.fecha_nueva)  }}</td>
                        <td> {{ cuota.estado }}</td>
                        <td>
                            <!-- 
                                <button (click)="realizarPago(cuota.id)" type="button" title="Registrar Pago" class="btn btn-primary btn-sm mr-1"><i class="bi bi-cash"></i></button>
                            <button *ngIf="cuota.estado !== 'Incumplido' " (click)="pagoIncumplido(cuota.id)" type="button" title="Marcar Como Incumplido" class="btn btn-danger btn-sm"><i class="bi bi-radioactive"></i></button>
                            -->
                            <button (click)="verInformacionCliente(cuota.id_cliente)" type="button" title="Ver Información Cliente" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
    
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCuotas()">
                </ngb-pagination>
            
                <p class="text-info negrita">Total Cobros Día: {{ collectionTotal }}</p>
            </div>
        </div>

       
        
    </div>
</div>